:root{
    --text:#fff;
    --hover:cyan;
    --background:rgb(4, 1, 35);
    --circle:rgba(0, 255, 255, 0.055);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' 'sans-serif';
    text-decoration: none;
}
body{
   background:var(--background);
   color: var(--text);
}

header{
    /* position: sticky; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: transparent; */
    /* backdrop-filter: blur(300000px); */
    /* background: yellow; */
}
.navbar a{
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 700;
margin-left: 35px;
transition: .3s;    
animation: nav 3s ;

}
.navbar a:hover{
    background: transparent;
    color: var(--hover);
    box-shadow: -1px -1px 10px 10px var(--hover);
    cursor: pointer;
}
.logo {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text);
    margin-left: 20px;
    animation: 
    anime .4s ease forwards ;
}
/* .logo:hover{
    background: transparent;
    color: var(--hover);
    box-shadow: -1px -1px 10px 10px var(--hover);
    cursor: pointer;
} */

.section-container{
    /* text-align: center; */
    margin: 200px 30px ;
    display: flex;
    flex-direction: row;
    column-gap: 500px; 
    
}
.section-info{
   position: relative;
   left: 200px;
   top: 20px;
}
.section-info .text-info{
font-size: 3.9rem;
font-weight: 900;

}
.section-info h2{
    font-size: 2.2rem;
}
.section-info .div{
    font-size: 1.1rem;
    color: var(--hover);
}
@keyframes anime{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes nav{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.image{
    position: relative;
    top: -90px;
    height:300px;
    width: 300px;
    background: var(--hover);
    border-radius: 50%;
   
    /* box-shadow:0px 0px 0px 5px var(--hover); */
    animation: rot 2s;
}
@keyframes rot {
    0%{
transform: rotateX(0deg);
background: var(--hover);
opacity: 0;
    }

    40%{
        transform: translateY(-60px);
        animation-delay:5s ;
        background: var(--circle);
    }
    100%{
        transform: matrix3d(360deg);
        opacity: 3;
    }
}